/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Playfair Display', serif;

  --fw-reg: 300;
  --fw-semiBold: 400;
  --fw-bold: 700;

  --fs-hero-secondary: 1.125rem;
  --fs-primaryText: 1.3125rem;
  --fs-secondaryHeadings: 2.25rem;
  --fs-mainHeadings: 3.75rem;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-800: hsl(0, 0%, 0%);

  --clr-accent-400: hsl(48, 52%, 90%);
  --clr-accent-500: hsl(15, 41%, 36%);
  --clr-accent-800: hsl(168, 13%, 15%);
}

/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* BODY */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primaryText);
  line-height: 1.6;
}

h1,
h2 {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  margin-top: 0;
}

h2 {
  margin-bottom: 1em;
}

section {
  padding: 4em 1em;
}

/* UTILITY */

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.bg-dark {
  background: var(--clr-accent-800);
  color: var(--clr-neutral-100);
}

.bg-light {
  background: var(--clr-accent-500);
  color: var(--clr-neutral-100);
}

.section__title--dark {
  color: var(--clr-accent-500);
}

.section__title--light {
  color: var(--clr-accent-400);
}

.text-align {
  text-align: center;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 42rem;
  background: var(--clr-accent-400);
}

.hero__title {
  font-size: var(--fs-mainHeadings);
  color: var(--clr-accent-500);
  text-align: center;
}

.hero__text {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: var(--fw-reg);
  text-align: center;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 4em;
  }
}
